$orange: #FEAC5E;
$pink: #C779D0;
$cyan: #4BC0C8;


.project-container{
    width: 62rem;
    height: 25rem;
    color: white;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    animation: pulse 15s infinite linear;
}

@keyframes pulse {
    0% {
        border-color: $orange;
        color: $pink;
    }
    33% {
        border-color: $pink;
        color: $cyan;
    
    }
    66% {
        border-color: $cyan;
        color: $orange;

    }
    100% {
        border-color: $orange;
        color: $pink;

    }
  }
  