@use '../../utilities';

a{
    text-decoration: none;
}

.project-container{
    position: relative;
    width: 62rem;
    height: 25rem;
    color: white;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    animation: pulse-all 15s infinite linear;
    padding: 1rem;

    h2{
        animation: pulse-color 25s infinite
    }
    .text-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }
    .links-container{
        position: absolute;
        bottom: 1rem;
        left: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;
        .link-button{
            @include utilities.round-corners;

        }
        .github-link-button{
            @extend .link-button;
            width: 2rem;
            height: 2rem;
        }
    }
    .tags{
        position: absolute;
        right: -10rem;
        top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .tag{
           @include utilities.round-corners;
           width: 8rem;


        }
    }
}