
$orange: #FEAC5E;
$pink: #C779D0;
$cyan: #4BC0C8;
$gray: #1a1a1a;

@keyframes pulse-bottom {
    0% {border-bottom-color: $orange;}
    33% {border-bottom-color: $pink;}
    66% {border-bottom-color: $cyan;}
    100% {border-bottom-color: $orange;}
  }
@keyframes pulse-all {
    0% {border-color: $orange;}
    33% {border-color: $pink;}
    66% {border-color: $cyan;}
    100% {border-color: $orange;}
  }
@keyframes pulse-color {
    0% {color: $orange;}
    33% {color: $pink;}
    66% {color: $cyan;}
    100% {color: $orange;}
}
@keyframes pulse-bgcolor {
    0% {background-color: $orange;}
    33% {background-color: $pink;}
    66% {background-color: $cyan;}
    100% {background-color: $orange;}
}
@keyframes wavy-shapes {
  0%{transform: matrix3d(
      1, 0, 0, 0 ,
      0, 1, 0, 0,
      0, 0, 1, 0 ,
      0, -100, 0, 1);}
  30%{transform: matrix3d(
      1, 0, 0, 0 ,
      0, 1, 0, 0,
      0, 0, 1, 0 ,
      0, 0, 0, 1);}

  40%{transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    275, 0, 0, 1);}

  50%{transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    275, 100, 0, 1);}

  60%{transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    -275, 100, 0, 1);}

  70%{transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    -275, 0, 0, 1);}

  80%{transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    0, 0, 0, 1);}

  100%{
    transform: matrix3d(
    1, 0, 0, 0 ,
    0, 1, 0, 0,
    0, 0, 1, 0 ,
    0, -100, 0, 1);}
  }

@mixin round-corners{
  width: 7rem;
  padding: 0.5rem;
  background-color: $gray;
  color: white;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid;
  animation: pulse-all 25s infinite;
}