@media screen and (max-width: 1700px) {
    header{
      justify-content: center;

      div{
        nav{
          ul{
           width: 16rem;
         }
        }
        }
    }
    .project-container{
        width: 22rem;
        height: auto;
        display: block;

        .text-container{
            font-size: 0.7rem;
        }

        .links-container{
            position: initial;
            margin: 1rem;
        }
    }
    .carousel{
        width: auto;
        .carousel-slide{
            width: 21rem;
        }
    }
    .footer-container{
        font-size: 0.4rem;
        div{
            padding: 0;
        }
    }

    .about-container{
        width: 26rem;
        .about-content{
            margin-top: 10rem;
        }
        .about-sidebar{
            position: absolute;
            top: -69px;
            right: 0px;
            left: 90px;
        }
    }
}
  